@media screen and (max-width: 480px) {
    body {
      background-color: #fff;
    }
    .header{
        background-color: #8658E1;
        height: 60px;
    }
    .header img{
        width: 100px;
        margin-top: -20px;
        margin-left: 15px;
    }
    #menu img{
        width: 30px;
        position: absolute;
        top: 45px;
        left: 300px;
    }
    .main-text h1{
        text-align: center;
        font-family: sans-serif;
        font-weight: 900;
        color: #8658E1;
        font-size: 30px;
        margin-top: 50px;
    }
    span{
        color: #dd79fc;
    }
    .main-text p{
        text-align: center;
        font-family: sans-serif;
        font-size: 19px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 27px;
        color: gray;
        margin-top: 20px;
    }
    .main-text a{
        text-decoration: none;
        color: #fff;
        font-family: sans-serif;
        background-color: #8658E1;
        border-radius: 10px;
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin: 0px auto;
        transition: 0.5;
    }
    .main-text a:hover{
        border: 1px solid #8658E1;
        color: #8658E1;
        background-color: #fff;
    }
    .main-text img{
        width: 350px;
        margin-top: 40px;
    }
  }